<DIV class="header_title">
    <span class="header_title">Get a quate</span>
  </DIV>
     <div class="col-md-6 offset-md-3 mt-5">
       <div id="navigation">
  
     
      <span>Submit a request</span>
      <span id="my_activities" routerLink="/dashbord">My Activities</span>
    </div>
       <form accept-charset="UTF-8" action="" method="POST"  target="_blank">
         <div class="form-group">
           

          <div id="add_employee" >
            <div id="pop_up" class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
            
            <div class="modal-body">
            <form>
            <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label"> Name <span class="text-danger">*</span></label>
            <input class="form-control" type="text">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Email<span class="text-danger">*</span></label>
            <input class="form-control" type="email">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Phone Number <span class="text-danger">*</span></label>
            <input class="form-control" type="text">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Country <span class="text-danger">*</span></label>
            <input class="form-control" type="email">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Project Type<span class="text-danger">*</span></label>
            <input class="form-control" type="text">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Estimate Budget<span class="text-danger">*</span></label>
            <input class="form-control" type="text">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Maximum time for the project <span class="text-danger">*</span></label>
            <input type="text" class="form-control">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Company name <span class="text-danger">*</span></label>
            <div ><input class="form-control datetimepicker" type="text"></div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
            <label class="col-form-label">Required skills </label>
            <input class="form-control" type="text">
            </div>
            </div>
           
        
        
          
          
            </div>
            </form>
            </div>
            </div>
            </div>
            </div>
            </div>
         
         <div class="form-group">
          <label for="Description">Description</label>
          <textarea class="form-control" id="Description" rows="3"></textarea>
        </div>
        
         <hr>
         <div class="form-group mt-3">
           <label class="mr-2">Attachments (Optional)</label>
           <input type="file" name="file">
         </div>
         <hr>
         <button id="submit_btn"type="submit" class="btn btn-primary">Submit Request</button>
       </form>
   </div> 