
    <div class="account-content">
				<div class="container">
				
					<!-- Account Logo -->
					<div class="account-logo">
						<img src="assets/images/logos/c_logo.png"  alt="Dreamguy's Technologies">
					</div>
					<!-- /Account Logo -->
					
					<div class="account-box">
						<div class="account-wrapper">
							<h3 class="account-title">Login</h3>
							<p class="account-subtitle">Access to  dashboard</p>
							
							<!-- Account Form -->
							<form action="">
								<div class="form-group">
									<label>Email Address</label>
									<input class="form-control" type="text">
								</div>
								
								<div class="form-group">
									<div class="row">
										<div class="col">
											<label>Password</label>
										</div>
										<div class="col-auto">
											<a class="text-muted">
												Forgot password?
											</a>
										</div>
									</div>
									<input class="form-control" type="password">
								</div>
								<div class="col">
									<label>Login as</label>
								</div>
								
									
										<select   class="form-control" data-select2-id="select2-data-1-njio" tabindex="-1" aria-hidden="true"> 
											
											<option>Admin</option>
											<option>Employee</option>
										
										</select>
										<br>
						
						
										
									
								
								<div class="form-group text-center">
									
									<button   (click)="login()"class="btn btn-primary account-btn" type="submit">Login</button>
								</div>
								
							</form>
							<!-- /Account Form -->
							
						</div>
					</div>
				</div>
		
     
		<!-- /Main Wrapper -->
		
	
<div class="sidebar-overlay"></div>
</div>