

    <div class="content container-fluid">
    
        
    <div class="page-header">
    <div class="row">
    <div class="col-sm-12">
    <h3 class="page-title">Leave Settings</h3>
    <ul class="breadcrumb">
        <li class="breadcrumb-item" (click)="dashbord()">Dashboard</li>
    <li class="breadcrumb-item active">Leave Settings</li>
    </ul>
    </div>
    </div>
    </div>
    
  

    <div class="row">
        <div class="col-md-3">
        <div class="stats-info">
        <h6>Annual Leave</h6>
        <h4>12</h4>
        </div>
        </div>
        <div class="col-md-3">
        <div class="stats-info">
        <h6>Medical Leave</h6>
        <h4>3</h4>
        </div>
        </div>
        <div class="col-md-3">
        <div class="stats-info">
        <h6>Other Leave</h6>
        <h4>4</h4>
        </div>
        </div>
        <div class="col-md-3">
        <div class="stats-info">
        <h6>Total</h6>
        <h4>20</h4>
        </div>
        </div>
        </div>
<br/>

        <span  class=" s_title"> Settings</span>

    <div class="row">
    <div class="col-md-12">
     <!-- **********************************************************************************-->
    <div class="card leave-box" id="leave_annual">
    <div class="card-body">
    <div class="h3 card-title with-switch">
     Annual Leave
    
    </div>
    <div class="leave-item">
    
    <div class="leave-row">
    <div class="leave-left">
    <div class="input-box">
    <div class="form-group">
    <label>Days</label>
    <input type="text" class="form-control" >
    </div>
    </div>
    </div>
    <div class="leave-right">
       
        <button class="btn btn-primary leave-save-btn" type="submit">Save</button></div>
    </div>
    
    
   
    </div>
    </div>
    </div>
    
     <!-- **********************************************************************************-->
    <div class="card leave-box" id="leave_sick">
    <div class="card-body">
    <div class="h3 card-title with-switch">
    Medical Leave
 
    </div>
    <div class="leave-item">
    <div class="leave-row">
    <div class="leave-left">
    <div class="input-box">
    <div class="form-group">
    <label>Days</label>
    <input type="text" class="form-control" >
    </div>
    </div>
    </div>
    <div class="leave-right">
        
        <button class="btn btn-primary leave-save-btn" type="submit">Save</button>
    </div>
    </div>
    </div>
    </div>
    </div>
     <!-- **********************************************************************************-->
    
    
    
 
     <div class="card leave-box" id="leave_sick">
        <div class="card-body">
        <div class="h3 card-title with-switch">
            Other Leave
     
        </div>
        <div class="leave-item">
        <div class="leave-row">
        <div class="leave-left">
        <div class="input-box">
        <div class="form-group">
        <label>Days</label>
        <input type="text" class="form-control" >
        </div>
        </div>
        </div>
        <div class="leave-right">
          
            <button class="btn btn-primary leave-save-btn" type="submit">Save</button>
        </div>
        </div>
        </div>
        </div>
        </div>
    
   
    
   
    
    </div>
    </div>
    </div>
    
    
   
    
  
    
    
  
    
   