
    <div class="content container-fluid">
    
        <div class="page-header">
        <div class="row">
        <div class="col-sm-12">
        <h3 class="page-title">Profile</h3>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"(click)="dashbord()">Dashboard</li>
        <li class="breadcrumb-item active">Profile</li>
        </ul>
        </div>
        </div>
        </div>
        
        <div class="card mb-0">
        <div class="card-body">
        <div class="row">
        <div class="col-md-12">
        <div class="profile-view" *ngFor="let profile of Profile"  >
        <div class="profile-img-wrap">
        <div class="profile-img">
        <a ><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
        </div>
        </div>
        <div class="profile-basic">
        <div class="row">
        <div class="col-md-5">
        <div class="profile-info-left">
        <h3 class="user-name m-t-0 mb-0">{{profile.name}}</h3>
        
        <small class="text-muted">{{profile.Role}}</small>
        <div class="staff-id">Employee ID : {{profile.Id}}</div>
        <div class="small doj text-muted">Date of Join : {{profile.Join_Date}}</div>
        
        </div>
        </div>
        <div class="col-md-7">
        <ul class="personal-info">
        <li>
        <div class="title">Phone:</div>
        <div class="text"><a >{{profile.Mobile}}</a></div>
        </li>
        <li>
        <div class="title">Email:</div>
        <div class="text"><a >{{profile.Email}}</a></div>
        </li>
    
       
        <li>
        <div class="title">Birthday:</div>
        <div class="text">{{profile.Birthday}}</div>
        </li>
        <li>
        <div class="title">Address:</div>
        <div class="text">{{profile.Address}}</div>
        </li>
        <li>
        <div class="title">Gender:</div>
        <div class="text">{{profile.Gender}}</div>
        </li>
        <li>
            <div class="title">RIB:</div>
            <div class="text">{{profile.RIB}}</div>
            </li>
        
        </ul>
        </div>
        </div>
        </div>
        <div class="pro-edit">
            <a data-target="#profile_info" data-toggle="modal" class="edit-icon"  (click)="profile_info()" ><i class="fa fa-pencil" (click)="profile_info()"></i></a></div>
        </div>
        </div>
        </div>
        </div>
        </div>
      
       
        </div>
        
        
        <div id="profile_info" >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Profile Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" (click)="hide()">×</span>
        </button>
        </div>
        <div class="modal-body">
        <form>
        <div class="row">
        <div class="col-md-12">
        <div class="profile-img-wrap edit-img">
        <img class="inline-block" src="assets/img/profiles/avatar-02.jpg" alt="user">
        <div class="fileupload btn">
        <span class="btn-text">edit</span>
        <input class="upload" type="file">
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" value="John">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" value="Doe">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Birth Date</label>
        <div >
        <input class="form-control" type="date" >
        </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Gender</label>
        <select class="select form-control select2-hidden-accessible" data-select2-id="select2-data-37-odyf" tabindex="-1" aria-hidden="true">
        <option value="male selected" data-select2-id="select2-data-39-q8zu">Male</option>
        <option value="female">Female</option>
        </select>
        
        </div>
        </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
            <div class="form-group">
            <label>RIB</label>
            <input type="text" class="form-control" value="000000000000000">
            </div>
            </div>
           
            
          
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" value="4487 Snowbird Lane">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" value="New York">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" value="United States">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Pin Code</label>
        <input type="text" class="form-control" value="10523">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" value="631-889-3206">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Department <span class="text-danger">*</span></label>
        <select class="select_floating ">
        <option data-select2-id="select2-data-42-2rmt">Select Department</option>
        <option>Web Development</option>
        <option>IT Management</option>
        <option>Marketing</option>
        </select>
        
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Designation <span class="text-danger">*</span></label>
        <select class="select_floating " >
        <option data-select2-id="select2-data-45-p995">Select Designation</option>
        <option>Web Designer</option>
        <option>Web Developer</option>
        <option>Android Developer</option>
        </select>
        
        </div>
        
    
               
           
        
    
       
        </div>
    
      </div>
      <div class="row">
        <div class="col-md-6">
        <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" >
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" >
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label> Confirm New Password</label>
            <input type="password" class="form-control" >
            </div>
            </div>
       
        </div>
    
        <div class="submit-section">
        <button class="btn btn-primary submit-btn">Submit</button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        
        
      
        
        
        
        
       
        
        
    
        
       
        
        