<DIV class="header_title">
    <span class="header_title">Help &  Support</span>
  </DIV>
     <div class="col-md-6 offset-md-3 mt-5">
       <div id="navigation">
  
     
      <span>Submit a request</span>
      <span id="my_activities" routerLink="/dashbord">My Activities</span>
    </div>
       <form accept-charset="UTF-8" action="" method="POST"  target="_blank">
         <div class="form-group">
           <label for="Subject"> Subject</label>
           <input type="text" name=" Subject" class="form-control" id="Subject" placeholder=" Subject" required="required">
         </div>
         <div class="form-group">
          <label for="Description">Description</label>
          <textarea class="form-control" id="Description" rows="3"></textarea>
        </div>
        
         <hr>
         <div class="form-group mt-3">
           <label class="mr-2">Attachments (Optional)</label>
           <input type="file" name="file">
         </div>
         <hr>
         <button type="submit" class="btn btn-primary">Submit Request</button>
       </form>
   </div> 